<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgs.smartclass.mapper.PostCommentMapper">

    <resultMap id="BaseResultMap" type="com.cgs.smartclass.model.entity.PostComment">
            <id property="id" column="id" />
            <result property="postId" column="postId" />
            <result property="userId" column="userId" />
            <result property="country" column="country" />
            <result property="city" column="city" />
            <result property="content" column="content" />
            <result property="createTime" column="createTime" />
            <result property="updateTime" column="updateTime" />
            <result property="isDelete" column="isDelete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,postId,userId,country,city,content,
        createTime,updateTime,isDelete
    </sql>
</mapper>
