<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgs.smartclass.mapper.PrivateChatSessionMapper">

    <resultMap id="BaseResultMap" type="com.cgs.smartclass.model.entity.PrivateChatSession">
            <id property="id" column="id" />
            <result property="userId1" column="userId1" />
            <result property="userId2" column="userId2" />
            <result property="lastMessageTime" column="lastMessageTime" />
            <result property="createTime" column="createTime" />
            <result property="updateTime" column="updateTime" />
            <result property="isDelete" column="isDelete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,userId1,userId2,lastMessageTime,createTime,updateTime,
        isDelete
    </sql>
</mapper>
