<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgs.smartclass.mapper.TeacherMapper">

    <resultMap id="BaseResultMap" type="com.cgs.smartclass.model.entity.Teacher">
            <id property="id" column="id" />
            <result property="name" column="name" />
            <result property="avatar" column="avatar" />
            <result property="title" column="title" />
            <result property="introduction" column="introduction" />
            <result property="expertise" column="expertise" />
            <result property="userId" column="userId" />
            <result property="adminId" column="adminId" />
            <result property="createTime" column="createTime" />
            <result property="updateTime" column="updateTime" />
            <result property="isDelete" column="isDelete" />
    </resultMap>

    <sql id="Base_Column_List">
        id,name,avatar,title,introduction,expertise,
        userId,adminId,createTime,updateTime,isDelete
    </sql>
</mapper>
