<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cgs.smartclass.mapper.UserWordBookMapper">

    <resultMap id="BaseResultMap" type="com.cgs.smartclass.model.entity.UserWordBook">
            <id property="id" column="id" />
            <result property="userId" column="userId" />
            <result property="wordId" column="wordId" />
            <result property="learningStatus" column="learningStatus" />
            <result property="isCollected" column="isCollected" />
            <result property="collectedTime" column="collectedTime" />
            <result property="difficulty" column="difficulty" />
            <result property="isDeleted" column="isDeleted" />
            <result property="createTime" column="createTime" />
            <result property="updateTime" column="updateTime" />
    </resultMap>

    <sql id="Base_Column_List">
        id,userId,wordId,learningStatus,isCollected,collectedTime,
        difficulty,isDeleted,createTime,updateTime
    </sql>
</mapper>
